@mainColor: #1890FF;
@backColor: #f2f2f2;

html, body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";

  > #app {
    width: 100%;
    height: 100%;
  }

  * {
    margin: 0;
    padding: 0;
  }
}


// index.component
.index-layout {
  height: 100%;
  width: 100%;
  .header {
    background: #fff;
  }
  .content {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
  }
}

//user.component
.user-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .sex-section {
    width: 40%;
    min-width: 500px;
    
    #sex-pie {
      width: 400px;
      height: 400px;
      margin: auto;
    }
  }
}