@mainColor: #1890FF;
@backColor: #f2f2f2;

html, body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";

  > #app {
    width: 100%;
    height: 100%;
  }

  * {
    margin: 0;
    padding: 0;
  }
}


// index.component
.index-layout {
  height: 100%;
  width: 100%;
  .header {
    background: #fff;
  }
  .content {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
    overflow: auto;
  }
}

//user.component
.user-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .sex-section {
    width: 40%;
    min-width: 500px;
    
    #sex-pie {
      width: 400px;
      height: 400px;
      margin: auto;
    }
  }
}

//article.component
.article-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .proportion-section {
    width: 40%;
    min-width: 500px;
    margin-bottom: 20px;
    
    #proportion-pie {
      width: 400px;
      height: 400px;
      margin: auto;
    }
  }

  .date-area-section {
    min-width: 900px;
    margin-bottom: 20px;
    #date-area-line {
      width: 800px;
      height: 500px;
      margin: auto;
    }
  }

  .banana-section {
    min-width: 1100px;
    #banana-bar {
      width: 1000px;
      height: 600px;
      margin: auto;
    }
  }
}

//comment.component
.comment-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .proportion-section {
    min-width: 1100px;
    margin: auto;
    
    #proportion-bar {
      width: 1000px;
      height: 600px;
      margin: auto;
    }
  }
}